.addDateGroup{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#addDateInput{
    width: 125px;
    margin-left: 8px;
    padding: 12px 0;
    text-align: center;
}

#addDateButton{
    margin-left: 8px;
}

#addDateLabel{
    padding: 4px 0;
    margin-top: .5rem;
}

.exerciseBtnRight{
    float: right;
    margin-right: 5px;
}

.exerciseListItem{
    line-height: 31px;
}